<h1>New Interview</h1>

<%= render "shared/interviewform" %>


<%# interview = Interview.create ({
      :id => :integer,
     :register_id => 8,
    :applicant_id => 29,
           :round => 1,
          :timing => 1,
          :set_by => 1,
        :feedback => 1,
          :status => 1,
}) %>